.container {
  justify-content: center;
  display: flex;
  border-radius: 10px;
  background-color: #f5c9b8;
  padding: 20px;
  margin-left: 40%;
  margin-right: 40%;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin: auto;
}
small {
  font-size: 12;
  color: rgb(243, 13, 13);
}
